.weatherData-cont{
    background-color: blue;
    width:400px;
    height:100px;
    line-height:100px;
}
.weatherExtraInfo-cont{
    background-color:red;
    width:40%;
    display: inline-block;
    
}
.weatherTemperature-cont{
    background-color: yellow;
    width:60%;
    display:inline-block;
}